.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

Button {
  color: 	#e35d6a;
}

body {
  background-color: 	#ededea;
}

.FormGroup {
  color: #585656;
}

Input {
  color: 	#b38574;
}

h1 {
  color: 	#585656;
  text-align: center;
  font-size: 563%;
  font-style: initial;
  font-weight: bold;
  margin-bottom: 50px;
  transition: all 0.5s ease 0s;
  -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
  line-height: 0.70em;
  outline: none;
  animation: animate 5s linear infinite;
}

h2 {
  color: 	#585656;
  text-align: center;
  font-size: 300%;
  font-style: initial;
  font-weight: bold;
  margin-bottom: 50px;
  transition: all 0.5s ease 0s;
  -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
  line-height: 0.70em;
  outline: none;
  animation: animate 5s linear infinite;
}
